@use '@finastra/fds-theme' as fds;
@use '@finastra/fds-theme/helpers';

.events-form-container {
  padding: var(--fds-spacing-3);
  margin-top: var(--fds-spacing-2);
  border-radius: 6px;
  background-color: #372773;

  .input-form {
    margin-top: var(--fds-spacing-2);
    margin-bottom: var(--fds-spacing-2);
    position: relative;

    mwc-icon-button {
      position: absolute;
    }
  }

  .input-field {
    @include fds.typography(subtitle-2);
    padding: var(--fds-spacing-1) var(--fds-spacing-4);
    padding-left: 55px;
    border: 1.5px solid #ffffff;
    border-radius: 6px;
    background-color: transparent;
    color: #ffffff;
    width: -webkit-fill-available;
    height: 38px;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: #cbc7db;
    }

    &.date-picker {
      width: 120px;
      padding-left: var(--fds-spacing-2);
      padding-right: var(--fds-spacing-2);
    }

    &.time-picker {
      width: 105px;
      padding-left: var(--fds-spacing-2);
      padding-right: var(--fds-spacing-2);
    }
  }

  .notification::after {
    content: 'minutes before';
    color: #cbc7db;
    position: absolute;
    top: 14px;
    left: 85px;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    color: #ffffff !important;
    font-size: 24px;
    color-scheme: dark;
  }

  input[type='time']::-webkit-calendar-picker-indicator {
    color: #ffffff !important;
    font-size: 24px;
    color-scheme: dark;
  }

  .time-slot {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--fds-spacing-3);
  }

  .time-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--fds-spacing-2);
  }

  .notes {
    padding-top: 12px;
    height: unset;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
}
